<h1>Mi Carrito</h1>

{{#if cart.length}}
    <ul>
        {{#each cart}}
            <li>
                {{this.product.title}} - Cantidad: {{this.quantity}} 
                <button class="remove-from-cart" data-pid="{{this.product._id}}">Eliminar</button>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>El carrito está vacío</p>
{{/if}}

<button id="clear-cart">Vaciar Carrito</button>
<button onclick="finalizePurchase()">Finalizar Compra</button>
